<?xml version="1.0" encoding="UTF-8"?>
<applicationRootConfig xmlns="http://www.appng.org/schema/platform" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.appng.org/schema/platform http://www.appng.org/schema/platform/appng-platform.xsd">
	<name>Scheduler</name>
	<config>
		<permissions>
			<permission mode="set" ref="debug" />
		</permissions>
		<session>
			<session-params>
				<session-param name="ap" />
				<session-param name="job" />
				<session-param name="sa" />
				<session-param name="sb" />
				<session-param name="du" />
				<session-param name="re" />
			</session-params>
		</session>
	</config>
	<navigation location="top" id="topnav">
		<link mode="intern" target="/jobs">
			<label>jobs</label>
		</link>
		<link mode="intern" target="/records">
			<label>records</label>
		</link>
	</navigation>
	<pages>
		<page id="jobs" type="index">
			<config>
				<title>jobs</title>
				<url-schema>
					<url-params>
						<url-param name="action" />
						<url-param name="id" />
						<url-param name="recordId" />
					</url-params>
					<get-params>
						<get-param name="form_action" />
						<get-param name="id" />
					</get-params>
					<post-params>
						<post-param name="form_action" />
					</post-params>
				</url-schema>
			</config>
			<structure>
				<section>
					<element>
						<datasource id="jobs" />
					</element>
				</section>

				<!-- create -->
				<section>
					<element>
						<action eventId="jobEvent" id="create" onSuccess="/jobs#tab_jobs">
							<params>
								<param name="form_action">${form_action}</param>
							</params>
							<condition expression="${action eq 'create'}" />
						</action>
					</element>
				</section>
				<!-- update -->
				<section>
					<element>
						<action id="update" eventId="jobEvent" onSuccess="/jobs#tab_jobs">
							<condition expression="${action eq 'update'}" />
							<params>
								<param name="form_action">${form_action}</param>
								<param name="id">${id}</param>
							</params>
						</action>
					</element>
				</section>
				<section>
					<element passive="true">
						<action eventId="jobEvent" id="showRecordDetails">
							<condition expression="${not empty recordId}" />
							<params>
								<param name="recordId">${recordId}</param>
							</params>
						</action>
					</element>
					<element>
						<datasource id="records">
							<condition expression="${action eq 'update'}" />
							<params>
								<param name="jobId">${id}</param>
								<param name="path">/jobs/update/${id}</param>
								<param name="tab">#tab_records</param>
							</params>
						</datasource>
					</element>
				</section>
				<section>
					<element>
						<datasource id="runningJobs" />
					</element>
				</section>
				<section>
					<element>
						<datasource id="indexInfo">
							<condition expression="${empty action}" />
						</datasource>
					</element>
				</section>

				<!-- hidden actions for (un)scheduling, starting and deleting jobs -->
				<section hidden="true">
					<element>
						<action id="schedule" eventId="jobEvent" onSuccess="/jobs#tab_jobs">
							<condition expression="${not empty form_action and not empty id}" />
							<params>
								<param name="form_action">${form_action}</param>
								<param name="id">${id}</param>
							</params>
						</action>
					</element>
					<element>
						<action id="unschedule" eventId="jobEvent" onSuccess="/jobs#tab_jobs">
							<condition expression="${not empty form_action and not empty id}" />
							<params>
								<param name="form_action">${form_action}</param>
								<param name="id">${id}</param>
							</params>
						</action>
					</element>
					<element>
						<action id="start" eventId="jobEvent" onSuccess="/jobs#tab_jobs">
							<condition expression="${not empty form_action and not empty id}" />
							<params>
								<param name="form_action">${form_action}</param>
								<param name="id">${id}</param>
							</params>
						</action>
					</element>
					<element>
						<action id="delete" eventId="jobEvent" onSuccess="/jobs#tab_jobs">
							<condition expression="${not empty form_action and not empty id}" />
							<params>
								<param name="form_action">${form_action}</param>
								<param name="id">${id}</param>
							</params>
						</action>
					</element>
				</section>
			</structure>
		</page>
		<page id="records">
			<config>
				<title>records</title>
				<url-schema>
					<url-params>
						<url-param name="recordId" />
					</url-params>
					<get-params>
						<get-param name="ap" />
						<get-param name="job" />
						<get-param name="sa" />
						<get-param name="sb" />
						<get-param name="du" />
						<get-param name="re" />
					</get-params>
				</url-schema>
			</config>
			<structure>
				<section>
					<element passive="true">
						<action eventId="jobEvent" id="showRecordDetails">
							<condition expression="${not empty recordId}" />
							<params>
								<param name="recordId">${recordId}</param>
							</params>
						</action>
					</element>
					<element>
						<datasource id="records">
							<params>
								<param name="path">/records</param>
							</params>
						</datasource>
					</element>
				</section>
			</structure>
		</page>
	</pages>
</applicationRootConfig>